/*
    Authors: Ryan Paul, 
             Taruna Mangar,
             Evelina Iliescu-Nastasiu.

     Theme:  Restaurant Online Food Ordering  

     Project: Admin Panel: CSS Style Sheet
     
     Date: 04.10.21
*/

*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper{
    padding: 2%;
    width: 90%;
    margin: 1 auto;
}

.text-center{
    text-align: center;
}

a{
    color:rgb(12, 73, 12);
    text-decoration: none;
}

.clearfix{
    float: none;
    clear: both;
}
/* CSS for Admin Menu */
.menu{
    text-align: center;
    border-bottom: 1px solid rgb(4, 50, 4);
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 2%;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
}

/* CSS for Admin Dashboard */
.main-content{
    padding: 2% 0;
    background-color: rgb(233, 196, 106);
}

.box-4{
    width: 15%;
    background-color: white;
    margin: 1.5%;
    padding: 2%;
    float:left; 
}


/* CSS for Footer */
.footer{
    background-color: rgb(227, 69, 69);
}


a:hover{
    color: green;
}