/*
    Authors: Ryan Paul, 
             Taruna Mangar,
             Evelina Iliescu-Nastasiu.

     Theme:  Restaurant Online Food Ordering  

     Project: General Front for Admin CSS Style Sheet
     
     Date: 04.10.21
*/

/* General CSS*/

/* Changes the browser default-generated CSS style */
/* It applies to the entire project */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    /* border: 1px solid green; */
    width: 80%;
    margin: 0 auto;
    padding: 1%;

}

.img-responsive{
    width: 100%;
}

.img-curve{
    border-radius: 10px;
}

.text-left{
    text-align: left;
    padding: 3%;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color:rgb(12, 73, 12);
    text-decoration: none;
}

a:hover{
    color: green;
}

.button{
    padding: 1%;
    border: none;
    font-size: 1rem;
    background-color: rgb(12, 73, 12) ;
    color: white;
    cursor: pointer;
    border-radius: 10%;
}


.button:hover{
    color: green;
}

h1{
    color: rgb(75, 20, 20);
    font-size: 2.3rem;
    text-align: center;
}


h2{
    color: rgb(75, 20, 20);
    font-size: 2rem;
    text-align: center;
}

h3{
    color: rgb(75, 20, 20);
    font-size: 2.0rem ;
}

/* CSS for Navbar Section*/

.logo{
    width: 15%;
    float: left; 
}

.menu{
    line-height: 130px;  
}

.menu ul{
     list-style-type: none;
}

.menu ul li{
    display: inline; 
    padding: 1%; 
    font-weight: bold;
    font-size: 20px;

}


.float-container{
    position: relative;
    
}

.float-text{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 35px;
    left: 0px;
    color: white;
}


/* CSS for Search Bar Section */

 .searchBar{
    background-image: url(../images/background/Background-Pasta.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center; 
    padding: 5% 0;
}

.searchBar input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
}   



/* CSS for Categories */

.foodCategories{
    padding: 3% 0;
}

.box-6{
    width: 47%;
    float: left;
    margin: 1%; 
}


/* CSS for FOOD Menu */

.food-menu{
    background-color: rgb(233, 196, 106);
    padding: 3% 0;
}

.food-menu-box{
    width: 20%;
    height: 350px;
    margin: 1%;
    float: left;
    padding: 1%;
    background-color: antiquewhite;
    border-radius: 5%;
}

.food-menu-img{
    width: 100%;
    float: left;
}

.food-menu-desc{
    width: 95%;
    float: left;
    margin-top: 5%;
    /* margin-left: 5%; */
    text-align: center;
}

.food-price{
    font-size: 1.2rem;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
    font-weight: bold;
}


/* CSS for Our Statement Section */


/* CSS for Social Media */

.socialMedia ul{
    list-style-type: none;
}

.socialMedia ul{
    display: inline;
    padding: 0.5%;
}


/* CSS for Mobile Size or Smaller Screen */
@media only screen and (max-width:768px){
    .logo{
        /* padding-top: 5%; */
        width: 60%;
        float: none;
        margin: 0% auto;
    }  
    
    .menu ul{
        text-align: center;
    }
}
    

/* CSS FOR LOGIN PAGE  */

/* .avatar{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
  
  /* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
  
  /* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}
  
  /* Add padding to containers */
.container {
    padding: 16px;
}
  
  /* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}
  
  /* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
}

    .cancelbtn {
        width: 100%;
    }
} 